<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NewUserDStarFileToCheck" value="/home/dstaradmin/public_html/w8hhf_dstar_users_new.txt"/>
    <add key="PeopleToEmail" value="dstaradministrator@tmrahamradio.org"/>
    <add key="DeleteFileAfterEmailSent" value="true"/>
  </appSettings>
</configuration>
